<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>About</title>
</head>
<body>
<header>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><h1>This is a Header</h1></p>
</header>
<h1>{{pageTitle}}</h1>
<p>Some text here</p>
<p>Darshan</p>
{{> footer}}
</body>
</html>