<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>About</title>
</head>
<body>
{{> hader}}
<p><a href="/bad">getData</a></p>
<h1>{{pageTitle}}</h1>
<p>Some text here</p>
<p>{{scremIt welcomeMesssage}}</p>
{{> footer}}
</body>
</html>